{% extends "base/navbar.html" %}
{% load static %}
{% block inner_content %}
    <div class="container">
        <form
                action={% if schema %}
                    {% url "csv:schema-update" pk=schema.pk %}
                {% else %}
                    {% url "csv:schema-create" %}
                {% endif %}
                        method='post'
        >
            {% csrf_token %}
            <div class="row">
                <div class="col-3">
                    <h1>
                        {% if schema %}
                            Edit schema
                        {% else %}
                            New schema
                        {% endif %}
                    </h1>
                </div>
                <div class="col-7 text-end align-self-end">
                    <button
                            class="btn btn-primary"
                            type="submit"
                    >
                        Submit
                    </button>
                    {% if schema %}
                        <a class="btn btn-danger"
                           href={% url "csv:index" %}
                        >
                            Cancel
                        </a>
                    {% endif %}
                </div>
            </div>
            <div class="row pt-2">
                <div class="col-5">
                    <ul class="list-group text-start pb-3">
                        {% for error in form.non_field_errors %}
                            <li class="list-group-item list-group-item-danger">
                                {{ error }}
                            </li>
                        {% endfor %}
                    </ul>
                    {% for field in form %}
                        {% for error in field.errors %}
                            <div class="alert alert-danger" role="alert">
                                {{ error }}
                            </div>
                        {% endfor %}
                        <label
                                for="{{ field.auto_id }}"
                                class="form-label"
                        >
                            {{ field.label }}
                        </label>
                        {{ field }}
                        <br/>
                    {% endfor %}
                </div>
            </div>

            <div class="row pt-2">
                <div class="col-10">
                    <h2>Fields</h2>
                    {{ inlines.management_form }}
                    <div id="form_set">
                        {% for inline_f in inlines %}
                            <table class="table table-borderless">
                                <tr>
                                    {{ inline_f.id }}
                                    {% for field in inline_f %}
                                        {% if not field.is_hidden %}
                                            <td>
                                                {% for error in field.errors %}
                                                    <div class="alert alert-danger">
                                                        {{ error }}
                                                    </div>
                                                {% endfor %}
                                                <label
                                                        for="{{ field.auto_id }}"
                                                        class="form-label"
                                                >
                                                    {{ field.label }}
                                                </label>

                                                {{ field }}
                                            </td>
                                        {% endif %}
                                    {% endfor %}
                                    <td>
                                        <label
                                                for="id_{{ inline_f.prefix }}-from"
                                                class="form-label"
                                                hidden
                                        >From</label>
                                        <input
                                                type="number"
                                                name="{{ inline_f.prefix }}-from"
                                                id="id_{{ inline_f.prefix }}-from"
                                                class="form-control"
                                                hidden
                                                {% if inline_f.instance and inline_f.instance.options %}
                                                    value={{ inline_f.instance.options.min }}
                                                {% endif %}
                                                {% if inline_f.cleaned_data and inline_f.cleaned_data.options %}
                                                    value={{ inline_f.cleaned_data.options.min }}
                                                {% endif %}
                                        >
                                    </td>
                                    <td>
                                        <label
                                                for="id_{{ inline_f.prefix }}-to"
                                                class="form-label"
                                                hidden
                                        > To </label>
                                        <input
                                                type="number"
                                                name="{{ inline_f.prefix }}-to"
                                                id="id_{{ inline_f.prefix }}-to"
                                                hidden
                                                {% if inline_f.instance and inline_f.instance.options %}
                                                    value={{ inline_f.instance.options.max }}
                                                {% endif %}
                                                {% if inline_f.cleaned_data and inline_f.cleaned_data.options %}
                                                    value={{ inline_f.cleaned_data.options.max }}
                                                {% endif %}
                                        class="form-control"
                                        >
                                    </td>
                                    <td class="align-bottom">
                                        <input
                                                class="btn btn-link link-danger text-decoration-none"
                                                type="submit"
                                                name="del_btn_{{ forloop.counter0 }}"
                                                value="Delete"/>
                                    </td>
                                </tr>
                            </table>
                        {% endfor %}
                    </div>
                    <div class="container border rounded p-3">
                        <div class="row">
                            <table class="table table-borderless" id="empty_form">
                                <tr>
                                    {% for field in inlines.empty_form.visible_fields %}
                                        <td>
                                            <label
                                                    for="{{ field.auto_id }}"
                                                    class="form-label"
                                            >
                                                {{ field.label }}
                                            </label>
                                            {{ field }}
                                        </td>
                                    {% endfor %}

                                    <td>
                                        <label
                                                for="id_fields-__prefix__-from"
                                                class="form-label"
                                                hidden
                                        >From</label>
                                        <input
                                                type="number"
                                                name="fields-__prefix__-from"
                                                id="id_fields-__prefix__-from"
                                                hidden
                                                class="form-control"
                                        >
                                    </td>
                                    <td>
                                        <label
                                                for="id_fields-__prefix__-to"
                                                class="form-label"
                                                hidden
                                        > To </label>
                                        <input
                                                type="number"
                                                name="fields-__prefix__-to"
                                                id="id_fields-__prefix__-to"
                                                hidden
                                                class="form-control"
                                        >
                                    </td>
                                    <td class="align-bottom">
                                        <input
                                                class="btn btn-link link-danger text-decoration-none"
                                                type="submit"
                                                name="del_btn__prefix__"
                                                value="Delete"/>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="row">
                            <div class="col-sm">
                                <button
                                        class="btn btn-primary"
                                        id="add_more"
                                >
                                    Add column
                                </button>
                            </div>
                        </div>
                    </div>

                    <script src={% static "js/schema_handles.js" %}>
                    </script>

                </div>
            </div>
        </form>
    </div>
{% endblock %}
